@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@400;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Londrina Solid', cursive;
        font-weight: 400;
    }
}

.v-enter-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
    transition: opacity 0.5s ease;
}
